@import url('https://fonts.googleapis.com/css?family=Barlow|Fira+Mono');

* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: #ffffff;
}

a {
    text-decoration: none
}

table {
    width: 100%;
    text-align: left;
    border: none;
}

p,
label,
input {
    font-size: 18px;
}

h2 {
    font-weight: 400;
    margin-top: 40px;
}

p {
    margin: 0;
}

label {
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #dddddd;
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
}

form {
    width: 100%;
    max-width: 300px;
}

.container {
    display: flex;
    height: 100%;
}

.control-sidebar {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.player-info {
    flex-grow: 1;
    overflow: hidden;
}

.game-frame {
    padding: 10px;
    overflow: auto;
    flex-grow: 1;
}

.grid-field {
    font-size: 23px;
    font-family: 'Fira Mono', monospace;
    background-color: #dddddd;
    border-radius: 3px;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    flex-shrink: 1;
    flex-basis: auto;
    flex-grow: 1;
    margin: 6px 3px;
    padding: 5px;
    text-align: center;
}

.grid-field.hidden {
    cursor: pointer;
    background-color: #b1b1b1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 0 2px 2px rgba(0, 0, 0, 0.08);
}

.grid-field > img {
    height: 28px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.grid-field.hidden:hover {
    background-color: #c1c1c1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0 3px 3px rgba(0, 0, 0, 0.08);
}

