@(controller:de.htwg.mps.minesweeper.controller.GameController)

@size= @{controller.game.grid().getSize}

@main("Welcome to Minesweeper") {
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>
            <p>Bombs to be found: @controller.game.grid().bombs</p>
            <a href="/game"><p>Restart Game</p></a>
            <div class="gamecontainer">
                <div class="game">
                @for(col <- 0 until size._1) {

                    @for(row <- 0 until size._2) {
                        <span class="minesweeperField" id="@col+@row"><a href="/game/@col/@row">@controller.game.grid().get(col, row)</a></span>
                        @*<!--@controller.game.grid().get(col, row).get.toString() match {*@
                            @*case "0" => {*@
                                @*<span class="minesweeperField" id="@col+@row"><a href="/game/@col/@row">@controller.game.grid().get(col, row)</a></span>*@
                            @*}*@
                            @*case "1" => {*@
                                @*<span class="minesweeperField" id="@col+@row"><a href="/game/@col/@row">@controller.game.grid().get(col, row)</a></span>*@
                            @*}*@
                            @*case "2" => {*@
                                @*<span class="minesweeperField" id="@col+@row"><a href="/game/@col/@row">@controller.game.grid().get(col, row)</a></span>*@
                            @*}*@
                            @*case "3" => {*@
                                @*<span class="minesweeperField" id="@col+@row"><a href="/game/@col/@row">@controller.game.grid().get(col, row)</a></span>*@
                            @*}*@
                            @*case "+" => {*@
                                @*<span class="minesweeperField" id="@col+@row"><a href="/game/@col/@row">@controller.game.grid().get(col, row)</a></span>*@
                            @*}*@
                            @*case "~" => {*@
                                @*<span class="minesweeperField" id="@col+@row"><a href="/game/@col/@row">&#9634</a></span>*@
                            @*}*@
                        @*}-->*@
                    }


                    <br>

                }
                </div>
            </div>
        </body>
    </html>
}
