@import de.htwg.mps.minesweeper.api.events.GridModel
@(grid: GridModel)
@size = @{grid.size}
@missingBombs = @{grid.missingBombs}

<p>Bombs to be found: @missingBombs</p>
<div class="game-container">
    <div class="game">
    @for(row <- 0 until size._1) {
        <div class="grid-row">
        @for(col <- 0 until size._2) {
            @grid.fields(row)(col).value match {
                case "~" => {
                    <div id="@row|@col" class="grid-field hidden">&nbsp;</div>
                }
                case "+" => {
                    <div id="@row|@col" class="grid-field"><img src="@routes.Assets.versioned("images/mine.ico")"/></div>
                }
                case "?" => {
                    <div id="@row|@col" class="grid-field hidden"><img src="@routes.Assets.versioned("images/questionmark.png")"/></div>
                }
                case "#" => {
                    <div id="@row|@col" class="grid-field hidden"><img src="@routes.Assets.versioned("images/flag.ico")"/></div>
                }
                case "0" => {
                    <div id="@row|@col" class="grid-field">&nbsp;</div>
                }
                case g => {
                    <div id="@row|@col" class="grid-field">@g</div>
                }
            }
        }
        </div>
    }
    </div>
</div>
