@import de.htwg.mps.minesweeper.model.grid.Grid

@(grid: Grid)
@size = @{grid.getSize}
@bombs = @{grid.bombs}

<p>Bombs to be found: @bombs</p>
<div class="game-container">
    <div class="game">
    @for(col <- 0 until size._1) {
        <div class="grid-row">
        @for(row <- 0 until size._2) {
            @grid.get(col, row).get.toString() match {
                case "~" => {
                    <div id="@col|@row" class="grid-field hidden">&nbsp;</div>
                }
                case "+" => {
                    <div id="@col|@row" class="grid-field"><img src="@routes.Assets.versioned("images/mine.ico")"/></div>
                }
                case "?" => {
                    <div id="@col|@row" class="grid-field hidden"><img src="@routes.Assets.versioned("images/questionmark.png")"/></div>
                }
                case "#" => {
                    <div id="@col|@row" class="grid-field hidden"><img src="@routes.Assets.versioned("images/flag.ico")"/></div>
                }
                case "0" => {
                    <div id="@col|@row" class="grid-field">&nbsp;</div>
                }
                case _ => {
                    <div id="@col|@row" class="grid-field">@grid.get(col, row)</div>
                }
            }
        }
        </div>
    }
    </div>
</div>
